.layout__container {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100vh;
	left: 200px;
	width: calc(100vw - 200px) !important;
	overflow-x: hidden;
}

.header {
	background: #f8f8f9;
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}


@media screen and (max-width: 420px) {
	.layout__container {
		left: 0;
		width: 100vw !important;
	}
}