.layout__container {
	display: flex;
	flex-direction: column;
	height: 100%;
	left: 200px;
	width: calc(100% - 200px);
	margin: 0 0 0 200px;
}

.header {
	background: #f8f8f9;
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}


@media screen and (max-width: 420px) {
	.layout__container {
		left: 0;
		width: 100%;
		margin: 0;
	}
}